html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 120px; /* bottom = footer height */
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: black;
}
.footer p {
    font-size: 13px;
    text-align: center;
}
.footer, .page-wrap::after {
    height: 120px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.form-control {
    border: 1px solid #000;
}
.centered {
    text-align: center;
}
.container .text-muted {
    margin: 16px 0;
}
