extends layout

block content
  nav(class='navbar navbar-default')
    .container-fluid
      .navbar-header
        a(class='navbar-brand' href='#')= title
      ul(class='nav navbar-nav navbar-right')
        li
          a(href='https://github.com/FAIR-BREIT/BREIT-DOC/' target='_blank') Documentation
        li
          a(href='https://github.com/FAIR-BREIT' target='_blank') GitHub
        li
          a(href='https://www.gsi.de' target='_blank') GSI Darmstadt
  .container
    .row
      .col-xs-12
        .lead.centered
          h3 Solve analytically the equilibrium and non-equilibrium charge state distributions equations.
        form(id='uploadForm' enctype='multipart/form-data' action='/txts' method='post')
          .form-group
            .input-group
              span.input-group-btn
                span.btn.btn-default.btn-file Select input file ...
                  input(type='file' id='userTxtInput' name='txt' accept='text/plain')
              input(type='text' class='form-control' readonly)
              span.input-group-btn
                input(type='submit' value='Solve' class='btn btn-default')
            .checkbox
              label.checkbox-inline
                input(type='checkbox' name='analytic' checked)
                = " analytic solution"
              label.checkbox-inline
                input(type='checkbox' name='approximation' checked)
                = " approximated solution"
              label.checkbox-inline
                input(type='checkbox' name='distance' checked)
                = " distance to equilibrium"
              label.checkbox-inline.pull-right
                input(type='checkbox' name='pdf')
                = " PDF"
              label.checkbox-inline.pull-right
                input(type='checkbox' name='tabular' checked)
                = " tabular"
        div#status.alert.alert-info
    .row
      .col-lg-6.col-md-6.col-sm-12
        h4#ne-title.centered
        div(id='canvas-ne' style='margin: 0 auto;')
      .col-lg-6.col-md-6.col-sm-12
        h4#e-title.centered
        div(id='canvas-e' style='margin: 0 auto;')
  .footer
    .container
      p.text-muted Authors: N. Winckler, A. Rybalchenko, V. P. Shevelko, M. Al-Turany, T. Kollegger, Th. St&#246;hlker
      p.text-muted
        a(href='https://www.gsi.de/en/bottommenu/data_privacy_protection.htm') Privacy
        span &nbsp;
        a(href='https://www.gsi.de/en/bottommenu/impressum.htm') Impressum
      p.text-muted &copy; 2015-2016 GSI Helmholtzzentrum f&#252;r Schwerionenforschung GmbH.
