doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')

    script(src='/scripts/jquery.min.js')
    script(src='/scripts/bootstrap.min.js')
    script(src='/scripts/jquery.form.js')
    script(src='/scripts/JSRootCore.js')
    script(src='/scripts/upload.js')
  body
    block content
